@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600;700;800&display=swap');

:root {
  --navBg: linear-gradient(180deg, rgba(255, 255, 255, 0.2) -41.9%, #FFFFFF 260.24%);
  --headerBg: linear-gradient(180deg, rgba(255, 255, 255, 0.2) -41.9%, rgba(255, 255, 255, 0.4) 260.24%);
  --mainBg: #020A18;
  --white: #fff;
  --blue: #3A68B8;
  --active: #2C3647;
  --footerBg: linear-gradient(180deg, rgba(255, 255, 255, 0.2) -41.9%, #FFFFFF 260.24%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  outline: none;
  border: none;
}
::selection {
  color: var(--blue);
  background: var(--white);
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  background: var(--mainBg);
}
ul{
  margin-bottom: 0;
  padding-left: 0;
}
a{
  text-decoration: none;
}